@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Heebo:wght@500&family=Open+Sans:ital,wght@0,700;1,700&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700;9..40,800&family=Heebo:wght@500&family=Open+Sans:ital,wght@0,700;1,700&family=Song+Myung&display=swap');


body {
  /* font-family: 'DM Sans', sans-serif; */
  /* font-family: 'Heebo', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Song Myung', serif; */
  --color-background: #fafafa;
  --color-foreground: #1f2023;
  --color-text:#1f2023;
  --color-accent: #FECEE9;
  --color-header-accent: #EB9FEF;
}
body.dark {
  /* font-family: 'DM Sans', sans-serif; */
  /* font-family: 'Heebo', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Song Myung', serif; */
  --color-background: rgb(80, 72, 72);
  --color-text:#efefef;
  --color-foreground: #efefef;
  --color-header-accent: #cb93b2;
  --color-accent: rgb(237, 134, 151);
}



.App {
  background-color: var(--color-background);
}

.header{
  text-align: left;
  margin-left: 10vh;
}

.App-header {
  background-color: var(--color-accent);
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;
  text-align: left;
  margin-bottom: 10vh;
}

.maps {
  display: flex;
  /* justify-content: center; */
}

.section-header {
  color: #FFFFFF;
  font-size:18px;
  padding: 20px;
  background-color: var(--color-header-accent);
  width: 200px;
  height: 10px;
  /* position: relative; */
  border-radius: 25px;
  display: flex;
  align-items: center; 
  justify-content: center;
  /* margin-left: 50px; */
  margin: auto;
  /* margin-top: 5vh; */
}

.section-text {
  text-align: center;
}


.Info{
  display: flex;
  padding: 1.5%;
  margin: 2.5%;
  margin-bottom: 5%;
  padding-bottom: 2.5%;
  line-height: 30px;
  border: 2px solid var(--color-accent);
}

.Dark-Toggle{
  display:flex;
  padding: 0.5%;
  flex-direction: column;
}

.disclosure{
  background-color: var(--color-accent);
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: 0;
  padding: 1%;
}

