/*
  This is a reasonable starting point for the CSS in Mock.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

.maps {
  /* position: relative; */
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}

.maps-history {
  height: 65vh;
  /* margin: auto; */
  display: flex;
  overflow: scroll;
  justify-content: center;
}
.right{
  height: 80vh;
  /* margin-left: 3.5vh; */
  display: flex;
  overflow: scroll;
  justify-content: center;
  align-items: center;
}
.bottom{
  /* height: 10vh;
  margin: 5vh;
  display: flex;
  overflow: scroll; */
  flex-direction: column;
  justify-content: center;
}

.maps-element {
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.maps-input {
  display: flex;
  margin-top: 1px;
  padding-bottom: 1vh;
  overflow: auto;
  align-items: center;
}

.maps-command-box {
  width: 50%;
  margin: auto;
  display: block;
  padding: 1vh;
  color: #FFC0CB;
  width: 800px;
  height: 7px;
  border-radius: 10px;
  border: 2px solid #8C8A93;
}

/* button {
  margin: auto;
  margin-top: 1vh;
  display: block;
} */

table {
  margin-top: 1vh;
  width: auto;
  border: 0;
}

td,
th {
  text-align: center;
  width: 10%;
}

thead {
  width: 100%;
  font-weight: bold;
  background-color: #d7ffe8;
}

table,
th,
td {
  border: 1px solid hwb(0 0% 100%);
  border-collapse: collapse;
}

.mapbox-container {
  position: relative;
  height: 65vh;
  width: 110vh;
  overflow: auto;
  border: 2px solid #FFC0CB;
  margin-bottom: 10vh;
}

.left{
  margin: 2vh;
}

.input-group {
  margin-top: 10px;
  font-size: 1.25rem;
  position: relative;
  --primary: #FFC0CB;
}

.input {
  all: unset;
  color: #000000;
  padding: 1rem;
  margin-right: 5px;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  width: 100vh;
  transition: 150ms
    cubic-bezier(0.4, 0, 0.2, 1);
    
}

.state-label {
  color:#FFC0CB;
  font-size: small;
  margin-left: 1vh;
}

.label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  /* right: 1rem; */
  color: #d4d4d4;
  pointer-events: none;
  transition: 150ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border: 1px solid
  var(--primary);
}

.input:is(:focus, :valid) ~ label {
  transform:
    translateY(-120%)
    scale(0.7);
  background-color: #FFFFFF;
  padding-inline: 0.3rem;
  color: var(--primary);
}

.submit-button{
  border-radius: 10px;
  padding: 2vh;
  margin: auto;
  background: #FFC0CB;
  border: none;
  font-size: 1.25rem;
}
.submit-button:hover{
  border-radius: 10px;
  padding: 2vh;
  margin: auto;
  background: #FFFFFF;
  color: #FFC0CB;
  font-size: 1.25rem;
  border: 2px solid #FFC0CB;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mapboxgl-popup-content {
  width: 180px;
  /* background-color: aqua; */
  border-color: aqua;
  color: black;
  background: #FFC0CB;
}

/* @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.text-container {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.text-container.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
} */

.county-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  height: auto;
  width: 25%;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: none;
  /* z-index: 1; */
}


